<!DOCTYPE html>

<html lang="term-for-english">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Movie List</title>

</head>

<body>
    <h1>Movies in Database</h1>

<table>

    <tr>

        <th>Title</th>

        <th>Director</th>

        <th>Year</th>

        <th>Rating</th>

    </tr>

    {% for movie in movies %}

    <tr>

        <td>{{ movie.title }}</td>

        <td>{{ movie.director }}</td>

        <td>{{ movie.year }}</td>

        <td>{{ movie.rating }}</td>

    </tr>

    {% endfor %}

</table>

   
</body>

</html>